{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Start Login Area -->




        <section class="login-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="login-content">
                            {% include 'includes/alerts.html' %}
                            <h2>Forgot Password</h2>

                            <form action="{% url 'forgotPassword' %}" class="login-form" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="email address" name="email">
                                </div>

                                <button type="submit" class="default-btn">Submit</button>

                                <a href="{% url 'login' %}" class="forgot-password">Got Password? Login</a>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="new-customer-content">
                            <h2>New Customer</h2>

                            <span>Create A Account</span>
                            <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                            <a href="{% url 'register' %}" class="optional-btn">Create A Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Login Area -->




{% endblock %}